<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="fragments/head :: head">
        <title id="pageTitle" th:text="${session.title}">Home</title>
    </head>
    <body>
        <nav th:replace="fragments/navHeader :: navbar"></nav>
        <div class="container has-text-centered">
            <a th:href="@{/student}" class="ddl">Student</a>
            <a th:href="@{/tutor}" class="ddl">Tutor</a>
            <a th:href="@{/invoice}" class="ddl">Invoice</a>
        </div>
        <footer th:replace="fragments/footer :: footer"></footer>
    </body>
</html>