<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="fragments/head :: head">
        <title id="pageTitle" th:text="${session.title}">Invoice Report</title>
    </head>
    <body>
        <nav th:replace="fragments/navHeader :: navbar"></nav>
        <div class="container has-text-centered">
            <h2 class="title is-2" th:text="#{invoice}">Invoice Report</h2>
            <form th:object="${invoiceReport}" action="replacedBeforePageRendered" th:action="@{/reports/submitInvoiceReport}"  method="post" class="container">
                <table>
                    <tr>
                        <th colspan="2">Tutor</th>
                    </tr>
                    <tr>
                        <td>
                            <select th:field="${invoiceReport.tutorFullName}">
                                <option th:each="current :${tutors}" th:value="${current.firstName} + ' ' + ${current.lastName}" th:text="${current.firstName} + ' ' + ${current.lastName}"></option>
                            </select>
                        </td>
                    </tr>
                </table>
                <button class="btn btn-primary" type="submit">Run the report</button>
            </form>
        </div>
        <div class="invoiceReportCointainer">
            <table class="tableStyles">
                <tr>
                    <th colspan="4" th:text="${invoiceReport.tutorFullName}"></th>
                </tr>
                <tr  th:each="current : ${invoiceReport.invoiceReport}">
                    <td th:text="${current.numHours}"></td>
                    <td th:text="${current.engDescription}"></td>
                    <td th:text="${current.startDate}"></td>
                    <td th:text="${current.endDate}"></td>
                </tr>
            </table>
        </div>
        <footer th:replace="fragments/footer :: footer"></footer>
    </body>
</html>
