<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="fragments/head :: head">
        <title id="pageTitle" th:text="${session.title}">Reports</title>
    </head>
    <body>
        <nav th:replace="fragments/navHeader :: navbar"></nav>
        <div class="container has-text-centered">
            <a th:href="@{/reports/studentReport}" class="ddl">Student Report</a>
            <a th:href="@{/reports/tutorReport}" class="ddl">Tutor Report</a>
            <a th:href="@{/reports/invoiceReport}" class="ddl">Invoice Report</a>
        </div>
        <footer th:replace="fragments/footer :: footer"></footer>
    </body>
</html>