<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="fragments/head :: head">
        <title id="pageTitle" th:text="${session.title}">Student reports</title>
    </head>
    <body>
        <nav th:replace="fragments/navHeader :: navbar"></nav>
        <div class="container has-text-centered">
            <h2 class="title is-2" style="margin-bottom:-10px!important">Student reports</h2>
            <form th:object="${reportDetailCoursesForStudent}" action="replacedBeforePageRendered" th:action="@{/reports/studentReport}"  method="post">
                <select th:field="${reportForStudents.id}" style="margin-bottom:24px">
                    <option th:each="course :${reportForStudents.courses}"
                            th:value="${course.id}"
                            th:text="${course.name}" th:selected="${course.id} == ${reportForStudents.id}"></option>
                </select>
                <button type="submit">Get students</button>
            </form>
			<!--https://stackoverflow.com/a/33106495-->
			<table class="tableStyles" th:if="${not #lists.isEmpty(reportForStudents.students)}"><!--
				--><tr><!--All this styling is needed, as this HTML page was built on the older CSS file, and will not render properly with the new one otherwise.
					--><th>ID</th><!--
					--><th>First Name</th><!--
					--><th>Last Name</th><!--
					--><th>Phone Number</th><!--
					--><th>e-Mail Address</th><!--
					--></tr><!--
				--><tr th:each="current,iterStat : ${reportForStudents.students}"><!--
					--><td th:text="${current.id}"></td><!--
					--><td th:text="${current.fName}"></td><!--
					--><td th:text="${current.lName}"></td><!--
					--><td th:text="${current.pNum}"></td><!--
					--><td th:text="${current.eMail}"></td><!--
					--></tr><!--
				--></table>
		</div>
        <footer th:replace="fragments/footer :: footer"></footer>
    </body>
</html>