<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="fragments/head :: head">
        <title id="pageTitle" th:text="${session.title}">Invoice</title>
    </head>
    <body>
        <nav th:replace="fragments/navHeader :: navbar"></nav>
        <div class="container has-text-centered">
            <div id="invoiceLitsTittle">
                <h2 class="title is-2" th:text="#{invoiceList}">Invoice List</h2>
                <a th:href="@{/invoice/invoiceAdd}" class="vert-align">
                    <span>Add new invoice</span>
                    <span class="icon is-large"><i class="fas fa-3x fa-plus-square" title="Add"></i></span>
                </a>
                <div class="vert-align">
                    <p>Invoices: <span th:text="${#lists.size(invoices)}"></span></p>
            </div>
            </div>
            
            <form>
                <table class="tableStyles">
                    <tr>
                        <th>Invoice ID</th>
                        <th>Tutor ID</th>
                        <th>Start Date</th>
                        <th colspan="2">End Date</th>
                    </tr>
                    <tr th:each="current : ${invoices}">
                        <td th:text="${current.id}"></td>
                        <td th:text="${current.tutorId}"></td>
                        <td th:text="${current.startDate}"></td>
                        <td th:text="${current.endDate}"></td>
                        <td>
                            <div class="flex-sp-btw">
                                <a th:href="@{/invoice/edit/{id}(id=${current.id})}">
                                    <span class="icon"><i class="fas fa-edit" title="Edit"></i></span>
                                </a>
                                <a th:href="@{/invoice/delete/{id}(id=${current.id})}">
                                    <span class="icon"><i class="fas fa-trash" title="Delete"></i></span>
                                </a>
                            </div>
                        </td>
                    </tr>
                </table>
            </form>
        </div>
        <footer th:replace="fragments/footer :: footer"></footer>
    </body>
</html>
