<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="fragments/head :: head">
        <title id="pageTitle" th:text="${session.title}">Invoice</title>
    </head>
    <body>
        <nav th:replace="fragments/navHeader :: navbar"></nav>
            <form th:action="@{/invoice/submit}" method="post">
                <div class="container">
                    <div class="field">
                        <div class="field field-id">
                            <label for="id" class="label">ID</label>
                            <div class="control">
                                <input type="text" readonly th:field="${invoice.id}" class="input">
                            </div>
                        </div>
                        <label for="tutorId" class="label">Tutor ID</label>
                        <div class="control has-icons-right">
                            <select th:field="${invoice.tutorId}">
                                <option th:each="current :${tutors}" th:value="${current.id}" th:text="${current.id}"></option>
                            </select>
                        </div>
                        <p class="help is-danger" th:if="${#fields.hasErrors('${invoice.tutorId}')}" th:errors="${invoice.tutorId}"></p>
                    </div>
                    <div class="field">
                        <label for="startDate" class="label">Start Date</label>
                        <div class="control has-icons-right">
                            <input class="input" th:errorclass="is-danger" type="date" th:field="${invoice.startDate}">
                        </div>
                    </div>

                    <div class="field">
                        <label for="endDate" class="label">End Date</label>
                        <div class="control has-icons-right">
                            <input class="input" th:errorclass="is-danger" type="date" th:field="${invoice.endDate}">
                        </div>
                    </div>
                        <button class="button is-primary" id="btnInvoiceAdd">Submit</button>
                </div>
            </form>
        <footer th:replace="fragments/footer :: footer"></footer>
    </body>
</html>
