<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="fragments/head :: head">
        <title id="pageTitle" th:text="${session.title}">About</title>
    </head>
    <body>
        <nav th:replace="fragments/navHeader :: navbar"></nav>
        <div class="container has-text-centered">
            <h2 class="title is-2" th:text="#{about}">About</h2>
            <p class="wbb centered" style="display:table">Member Name<span style="margin:12px"></span>Carter Phillips</p>
            <p class="wbb centered" style="display:table">Component<span style="margin:12px"></span>Tutor</p>
        </div>
        <footer th:replace="fragments/footer :: footer"></footer>
    </body>
</html>