<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="fragments/head :: head">
        <title id="pageTitle" th:text="${session.title}">Other</title>
    </head>
    <body>
        <nav th:replace="fragments/navHeader :: navbar"></nav>
        <div class="container has-text-centered">
            <a th:href="@{/other/about_cp}" class="ddl">About Carter</a>
            <a th:href="@{/other/about_fb}" class="ddl">About Francisco</a>
            <a th:href="@{/other/about_fhm}" class="ddl">About Ferhad</a>
            <br></br>
            <a th:href="@{/other/help}" class="ddl">Help</a>
        </div>
        <footer th:replace="fragments/footer :: footer"></footer>
    </body>
</html>